<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>添加学生信息</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .container h2 {
            padding-top: 10px;
        }

        .container .btn {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2 class="sub-header">添加学生信息</h2>
        <!-- 第四个路由参数处理： get: /students/edit -->
        <form action="/students/edit" method="post">
            <input type="hidden" name="id" value="{{ student.id }}">
            <div class="form-group">
                <label for="exampleInputEmail"> 姓名 </label>
                <input type="text" class="form-control" id="exampleInputEmail" name="name" value="{{ student.name }}" />
            </div>

            <div class="form-group">
                <label for=""> 性别 </label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="gender" id="inlineRadio1" value="0" checked />男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" id="inlineRadio2" value="1" />女
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="age">年龄</label>
                <input class="form-control" type="number" id="age" name="age" value="{{ student.age }}" />
            </div>
            <div class="checkout">
                <label> 爱好 </label>
                <input class="form-control" type="text" name="hobbies" value="{{student.hobbies}}" />
            </div>
            <div class="btn">
                <button type="submit" class="btn btn-info"> 添加学员信息 </button>
            </div>
        </form>
    </div>
</body>

</html>